.showDonacionFormFancyBoxContent{    
    width: 77vw;
}
.showDonacionFormFancyBoxContent > * {
 	text-align: center;	
}
.showDonacionFormFancyBoxContent .spacer-1 {
	display: block;
	height: 86px;
}
.showDonacionFormFancyBoxContent .col {
	background-color: #ffffff !important;
	padding: 4em 1em;
}

.showDonacionFormFancyBoxContent .col:hover {
	background-color: #eeffef !important;
}

.showDonacionFormFancyBoxContent .col:hover h3 {
	background-color: #fff !important;
}

.showDonacionFormFancyBoxContent h3 {
    background-color: #f6f6f6 !important;
    display: inline-block;
    color: #898989 !important;
    border-radius: 6px !important;
    padding: .3em .5em !important;
    font-size: 1.8em !important;
}
.showDonacionFormFancyBoxContent .img-cont > img {
	height: 9em;
	display: block;
	position: relative;
	margin: 0 auto;
}